# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled Output #
##################
dist/
tmp/
out-tsc/
bazel-out/

# Node #
########
node_modules/
npm-debug.log
yarn-error.log

# Python #
#########
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
*.manifest
*.spec

# Flask #
#########
instance/
.webassets-cache
.env
config.py

# Misc #
########
.DS_Store
.idea/
*.swp
*.swo